<template>
  <form>
    <label class="sr-only" for="inline-form-input-username">Username</label>
    <input v-model="newtask" id="inline-form-input-username" placeholder="Todo Name" />
    <b-button size="sm" v-on:click="postTodo()">
      <b-icon icon="plus-square"></b-icon>Add
    </b-button>
  </form>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      newtask: "",
    };
  },

  methods: {
    postTodo() {
      let newTodo = {
        name: this.newtask,
        id: Date.now(),
        createdAt: String(new Date()),
        todo: true,
      }
      axios.post("http://localhost:2000/todo", newTodo);
      this.$store.state.todo.push(newTodo)
      this.newtask = "";
    },
  },
};
</script>

<style>
</style>