<template>
  <div>
    <MyHeader />
    <div class="jumbotron">
      <h1 class="display-4">
        <strong>Todo List</strong>
      </h1>
      <p class="lead">
        <strong>New Features we will have to done for this project</strong>
      </p>
      <hr class="my-4" />
      <p>
        <strong>Easy to use, we created this web app just for you !</strong>
      </p>
      <router-view :key="$route.path"></router-view>

      <hr class="my-4" />
    </div>
  </div>
</template>


<script>
import MyHeader from "./MyHeader.vue";

export default {
  name: "jum",
  components: {
    MyHeader,
  },

  methods: {
    toggle(payload) {
      this.$emit("toggle", payload);
    },

    newtask(inputvalue) {
      this.$emit("test", inputvalue);
    },
  },

  props: ["jum"],
};
</script>


<style>
</style>