<template>
  <div>
    <ul>
      <SingleTodo v-for="myList in trieTodo(whatToDisplay)" :key="myList.id" :simpleli="myList" />
    </ul>
  </div>
</template>

<script>
import SingleTodo from "./SingleTodo.vue";
import { mapGetters } from "vuex";

export default {
  name: "listTodo",
  components: {
    SingleTodo,
  },

  props: ["whatToDisplay"],

  computed: {
    ...mapGetters(["trieTodo"]),
  },
};
</script>

<style>
</style>