<template>
  <b-navbar type="dark" variant="dark">
    <h2>Todo List</h2>
    <router-link to="/new">New</router-link>
    <router-link to="/list">List</router-link>
    <router-link to="/todo">ToDo</router-link>
    <router-link to="/done">Done</router-link>
  </b-navbar>
</template>

<script>
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
export default {
  name: "MyHeader",

  methods: {},
};
</script>

<style>
h2 {
  color: grey;
}

a {
  margin-left: 15px;
  color: grey;
  font-size: 20px;
}
</style>