<template>
  <li v-if="simpleli.todo == true" v-on:click="putTodo()">
    <b-icon icon="check-circle"></b-icon>
    {{simpleli.name}}
  </li>

  <li v-else v-on:click="putTodo()" style="text-decoration: line-through">
    <b-icon icon="check-circle-fill"></b-icon>
    {{simpleli.name}}
  </li>
</template>

<script>
import axios from "axios";

export default {
  props: ["simpleli"],

  methods: {
    putTodo() {
      axios.put(`http://localhost:2000/todo/+${this.simpleli.id}`, {
        todo: !this.simpleli.todo,
      });
        this.$store.dispatch('changeStatus', this.simpleli.id)
    },
  },
};
</script>

<style>
li {
  list-style: none;
}
</style>