<template>
  <div id="app">
    <Jumbotron />
  </div>
</template>

<script>
import Jumbotron from "./components/Jumbotron.vue";
import axios from "axios";

export default {
  name: "App",
  components: {
    Jumbotron,
  },

  data() {
    return {
      myVariable: "",
    };
  },

  methods: {},  

  mounted() {
    let that = this
    axios.get("http://localhost:2000/todo/").then((response) => {
      that.myVariable = response.data;
      that.$store.dispatch('recupApi', response.data); 
    });
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
